charset "utf-8";
body {
	width: 1200px;
	background-image: url(../images/bg.gif);
}
#wrapper {
	background-color: #deb887;
	width: 1100px;
	margin-right: auto;
	margin-left: auto;
}
#header {
	width: 1100px;
	text-align: center;
	padding-top: 10px;
}
#navi {
	margin-top: 10px;
	text-align: center;
}
.pankuzu {
	color: #666;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 100px;
}
.page0:hover {
	background-image: url(../images/btn_home2.jpg);
}
.page1:hover {
	background-image: url(../images/btn_histry2.jpg);
}
.page2:hover {
	background-image: url(../images/btn_needs2.jpg);
}
.page3:hover {
	background-image: url(../images/btn_sleep2.jpg);
}
.page4:hover {
	background-image: url(../images/btn_stress2.jpg);
}






/* CSS Document */

.page0 {
	float: left;
	height: 30px;
	width: 200px;
	margin-right: 10px;
	margin-left: 10px;
	background-image: url(../images/btn_home1.jpg);
}




.page1 {
	float: left;
	height: 30px;
	width: 200px;
	margin-right: 10px;
	margin-left: 10px;
	background-image: url(../images/btn_history1.jpg);
}
.page2 {
	float: left;
	height: 30px;
	width: 200px;
	margin-right: 10px;
	margin-left: 10px;
	background-image: url(../images/btn_needs1.jpg);
}

.page3 {
	background-image: url(../images/btn_sleep1.jpg);
	height: 30px;
	width: 200px;
	float: left;
	margin-right: 10px;
	margin-left: 10px;
}


.page4 {
	float: left;
	height: 30px;
	width: 200px;
	margin-right: 10px;
	margin-left: 10px;
	background-image: url(../images/btn_stress1.jpg);
}
#main {
	margin-right: auto;
	margin-left: auto;
	width: 1100px;
	text-align: center;
}

#rank_area1 {
	background-image: url(../images/rank1.png);
	height: 400px;
	width: 900px;
	margin-right: auto;
	margin-left: auto;
}
#rank_area2 {
	background-image: url(../images/rank2.png);
	height: 400px;
	width: 900px;
	margin-right: auto;
	margin-left: auto;
}
#rank_area3 {
	background-image: url(../images/rank3.png);
	height: 400px;
	width: 900px;
	margin-right: auto;
	margin-left: auto;
}

#rank_area4  {
	background-image: url(../images/rank4.png);
	height: 400px;
	width: 900px;
	margin-right: auto;
	margin-left: auto;
}
.text_rank {
	margin-left: 500px;
	margin-bottom: 10px;
	padding-top: 60px;
	text-align: left;

}
h1 {
	font-size: xx-large;
	color: #F06;
	font-weight: bolder;
	margin-top: 10px;
	margin-bottom: 10px;
}
h2 {
	font-size: x-large;
	font-weight: bolder;
	color: #600;
	font-family: "ＭＳ Ｐゴシック";
	float: left;
}
.value  {
	background-color: #ffe4e1;
	height: 240px;
	width: 400px;
	margin-left: 490px;
	padding-top: 80px;
	text-align: center;
	clear: both;
}
.table2 {
	background-color: #cd853f;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 900px;
}
.table3 {
	background-color: #cd853f;
	width: 600px;
	margin-right: auto;
	margin-left: auto;
}






#footer {
	width: 1100px;
	background-color: #461004;
	height: 100px;
	text-align: center;
	color: #FFF;
	margin-top: 30px;
	clear:both;
}


.list0 {
	float: left;
	color: #FFF;
	text-align: center;
	padding-top: 20px;
	margin-right: auto;
	margin-left: auto;
}





.list1 {
	float: left;
	color: #FFF;
	text-align: center;
	padding-top: 20px;
	margin-right: auto;
	margin-left: auto;
}



.list2 {
	color: #FFF;
	float: left;
	text-align: center;
	padding-top: 20px;
	margin-right: auto;
	margin-left: auto;
}

.list3 {
	float: left;
	color: #FFF;
	text-align: center;
	padding-top: 20px;
	margin-right: auto;
	margin-left: auto;
}
.list4  {
	text-decoration: none;
	float: left;
	color: #FFF;
	text-align: center;
	padding-top: 20px;
	margin-right: auto;
	margin-left: auto;
	display: inline;
}

a:link {
	color: #FFF;
	text-decoration: none;
}



.copy {
	color: #FFF;
}





.span1 {
	font-size: large;
	font-weight: bolder;
	color: #F09;
	font-family: "ＭＳ 明朝";
	text-align: center;
	display: block;
}
#main .t19 .t14  {
	padding-bottom: 20px;

}
.span2 {
	font-family: "ＭＳ Ｐゴシック";
	font-size: x-large;
	font-weight: bolder;
	color: #600;
}



.yellow {
	color: #F60;
	font-weight: bolder;
	font-size: large;
}
.top_btn {
	text-align: right;
	margin: 10px;
}
